body {
    background-color: rgb(184, 239, 181);
}

.Title {
    color: rgb(7, 88, 24);
    font-family:'Dancing Script', cursive;
    font-size: 4rem;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    position: relative;
    animation: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes header {
    0% {top: -250px}
    100% {top: 10px}
}

.ingredients {
   
    width: auto 0;
    margin: 5px auto;
}

.table {
    margin: 0 auto;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
}

.instructions {

    width: 600px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    animation: textLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes textLeft {
    0% {left: -1000px;}
    85% {left: 50px;}
    100% {left: 0;}
}

.instructions ol {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
}

.img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: img;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes img {
    0% {opacity: 0;} 
    100% {opacity: 1;}
}